{% extends "Usuario/RecuperacaoSenha/base.html" %}

{% block content %}
<form method="post">

    <h2>Recuperar Senha</h2>
    <p>Insira seu email abaixo para receber instruções de redefinição de senha.</p>

    {% csrf_token %}
    {{ form.as_div }}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} 
    <button class="form-control w-50 mx-auto" type="submit">Enviar</button>
</form>

{% endblock %}