{% extends "base.html" %}
{% load CustomFiltros %}

{% block Head %}
<head>
    {% load static %}
    {% block title %}<title>Cadastro de Eventos</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/cronograma.css' %}"></link>
</head>
{% endblock %}

{% block content %}
<body>

    <!-- Container principal -->
    <div class="container mt-5">
        <!-- Cabeçalho -->
        <div class="text-center mb-4">
            <h1>Cadastro de Eventos</h1>
            <p>Siga os passos para cadastrar seu Eventos.</p>
        </div>


        <!-- Formulário com várias etapas -->
        <form id="form-cadastro-palestra" method="post">
                {% csrf_token %}

            <!-- Passo 1: Informações Palestra -->
            <div class="step" id="step-1">

                <h3>Informações Eventos</h3>
                <div>
                    {{Eventoform.id}}
                </div>
                <div class="mb-3">
                    {{Eventoform.titulo.label_tag}}
                    {{Eventoform.titulo}}
                </div>

                <div class="mb-3">
                    {{Eventoform.tema.label_tag}}
                    {{Eventoform.tema}}
                </div>
                <div class="mb-3">
                    {{Eventoform.descricao.label_tag}}
                    {{Eventoform.descricao}}
                </div>
                <div class="mb-3">
                    {{Eventoform.curso.label_tag}}
                    {{Eventoform.curso}}
                </div>
                <div class="mb-3">
                    {{Eventoform.dt_inicio.label_tag}}
                    {{Eventoform.dt_inicio}}
                </div>
                <div class="mb-3">
                    {{Eventoform.dt_fim.label_tag}}
                    {{Eventoform.dt_fim}}
                </div>
            
            </div>

            <!-- Passo 2:Informações Sessão  -->
            <div class="step" id="step-2">
                <h3>Informações Sessão</h3>
                <div class="mb-3">
                    <div class="cronograma-container">
                        <!-- Primeiro bloco de sessao -->
                        <input type='hidden' class="prefix" value={{ Sessaoform.prefix }}></input>

                        {{Sessaoform.management_form}}

                        <div class="hidden modelo-form">{{Sessaoform.empty_form.as_div}}</div>

                        {% for form in Sessaoform %}
                        <div class="cronograma-bloco">
                            {{ form.as_div}}
                        </div>
                        {% endfor %}

                    </div>
                    <!-- Botão para adicionar novo cronograma -->
                    <button type="button" onclick="AdicionarNovo('{{Sessaoform.prefix}}',this)">+</button>
                </div>
            </div>  

            <!-- Passo 3: cronograma -->
            <div class="step" id="step-3">
                <h3>Cronograma</h3>
                <div class="mb-3">
                    <div class="cronograma-container">
                        <!-- Primeiro bloco do cronograma -->
                            <input type="hidden" class="prefix" value={{Cronogramaform.prefix}}></input>

                            {{Cronogramaform.management_form}}
                            <div class="hidden modelo-form">{{Cronogramaform.empty_form.as_div}}</div>

                            {% for form in Cronogramaform %}
                            <div class="cronograma-bloco">
                                {{ form.as_div}}
                            </div>
                            {% endfor %}
                    </div>
                    <!-- Botão para adicionar novo cronograma -->
                    <button type="button" onclick="AdicionarNovo('{{Cronogramaform.prefix}}',this)">+</button>
                
                </div>
            </div>

            <div class="step" id="step-4">
                {% with uid=Eventoform.id.value|UID %}
                <button class="bg-danger" type="button"><a class="text-light" href="{% url 'Delete' uidb64=uid %}">Apagar</a></button>
                {% endwith %}
                <h3>Configurações</h3>
                
                <div class="mb-3">
                    {{Eventoform.dt_inicio_inscricao.label_tag}}
                    {{Eventoform.dt_inicio_inscricao}}
                </div>

                <div class="mb-3">
                    {{Eventoform.dt_fim_inscricao.label_tag}}
                    {{Eventoform.dt_fim_inscricao}}
                </div>
                <div class="mb-3">
                    {{Eventoform.limite_inscricao.label_tag}}
                    {{Eventoform.limite_inscricao}}
                </div>

                <div class="mb-3">
                    {{Eventoform.perc_necess_cert.label_tag}}
                    {{Eventoform.perc_necess_cert}}
                </div>
                <div class="mb-3">
                    {{Eventoform.cert_por_palestra.label_tag}}
                    {{Eventoform.cert_por_palestra}}
                </div>
                
            </div>  

            <!-- Navegação entre passos -->
            <div class="text-center mt-4">
                <button type="button" class="btn btn-secondary" id="prev-btn" onclick="prevStep()">Anterior</button>
                <button type="button" class="btn btn-primary" id="next-btn" onclick="nextStep()">Próximo</button>
                <button type="submit" class="btn btn-success" id="submit-btn" style="display: none;">Salvar Palestra</button>
                <!-- 
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                -->
            </div>
        </form>
    </div>


    <!-- Scripts Bootstrap e customizados -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src= "{% static 'js/cronograma.js' %}"></script>
    
</body>
{% endblock %}
