{% extends "base.html" %}
{% load CustomFiltros %}


{% block title %}<title>Minhas inscrições </title>{% endblock %} 
{%block Head%}
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/details.css' %}">
    </head>
{%endblock%}

{%block content%}
    <main class="col-md-10 content">

            <h1 class="event-title">Suas Inscrições</h1>
        
            <div class="container bg-white p-4 m-auto" style="border-radius: 12px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                {% for sessaop in SessaoParticipante %}
                <div class="event-details">
                    <h3>{{ sessaop.Sessao.cronograma.evento }}</h3>
                    <p>{{ sessaop.Sessao.cronograma.evento.descricao }}</p>

                    {% with uid=sessaop.Sessao.cronograma.evento.id|UID %}
                        <button class="btn btn-primary" onclick="window.location.href='{% url "detalhes" uidb64=uid %}';" type="button">Saiba mais</button>
                    {% endwith %}
                </div>

                {% endfor %}
            </div>
    
    </main>

{%endblock%}